<main class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu E-mail">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crear Cuenta</a>
            <a href="/restablecer-password">¿Olvid&oacute; su Password?</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesión" class="btn btn-azul">
        </div>
    </form>
</main>